<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript you Tableau!</title>
<script type="text/javascript" src="http://tabsrv/javascripts/api/tableau-2.0.0.min.js"></script>

<script type="text/javascript">

vizURL = "/views/@(Request.Params["workbook"])/@(Request.Params["vizname"])";
<!-- vizURL = "/views/OpPlanApprovalsV3/ApprovalsDashNew"; -->


</script> 

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="singleviz.js" type="text/javascript"></script>
</head>
<body>
<p>The time is @DateTime.Now</p>


<div id="tableauViz"></div>
</body>
</html>